<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>55254464633-fsark5j1tuf53iuq8rue0rg2ue1r0g1p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.55254464633-fsark5j1tuf53iuq8rue0rg2ue1r0g1p</string>
	<key>API_KEY</key>
	<string>AIzaSyA8P3zJB_vzR-RNB3aQXCkoMUVLH8AU72k</string>
	<key>GCM_SENDER_ID</key>
	<string>55254464633</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.phoneSignin</string>
	<key>PROJECT_ID</key>
	<string>phone-sign-in-260799</string>
	<key>STORAGE_BUCKET</key>
	<string>phone-sign-in-260799.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:55254464633:ios:62739a891b4c48c1603ca8</string>
</dict>
</plist>